name: Build Windows Exe
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: Install gperf
      run: choco install gperf
    - name: Configure CMake
      run: cmake -A x64 -DCMAKE_BUILD_TYPE=Release .
    - name: Build
      run: cmake --build . --config Release --target install
       - name: Upload Artifact
      uses: actions/upload-artifact@v4 
      with:
        name: telegram-bot-api-windows
        path: bin/telegram-bot-api.exe

